<%- include("partials/header"); -%>

<div class="jumbotron centered">
  <div class="container mt-5">
    <div class="row">

      <div class="col-sm-6">
        <div class="container">
          <h1>Contact</h1>

          <p><%= contact %></p>

          <form class="contact-form" action="/contact" method="post">
            <input placeholder="Name*" type="text" name="name" required />
            <input placeholder="Enter email*" type="email" name="email" required/>
            <input placeholder="Subject" type="text" name="subject"/>
            <textarea placeholder="Your Message*" type="text" name="message" required ></textarea>
            <div id="result" >
              <div style="display:<%= successDisplay %>">
                Your message was sent successfully. Thanks!
              </div>
              <div style="display:<%= failDisplay %>">
                Your message was't sent successfully. Please try again!
              </div>
            </div>
            <button class="btn btn-dark" type="submit">Submit</button>
          </form>
        </div>
      </div>

        <div class="col-sm-6">
          <img class="contact-img" src="/images/contact.jpeg" alt="contact-img">
        </div>

    </div>
  </div>

</div>

<%- include("./partials/footer"); -%>
